<%= form_for(flowername) do |f| %>
  <% if flowername.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flowername.errors.count, "error") %> prohibited this flowername from being saved:</h2>

      <ul>
      <% flowername.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
